header{
    border-bottom: 5px solid #747e48;   
}

header h1{
color: #C2C2C2;
    font-size: 28px;
    font-weight: bold;
}
header p{
    color: #828282;
    font-size: 19px;
}

.maps p {
    color: #828282;
    font-size: 19px;
}

#map1, #map2 {
    border: 1px solid #747e48;
    box-sizing: border-box;
}