.title span {
    display: inline-block;
    width: 48px;
height: 5px;
background-color: #747E48;
}

.title h1{
    font-size: 28px;
    font-weight: bold;
    color: #747E48;
}
.title p {
    font-size: 19px;  
    color: #747E48;
}

header {
    width: 100%;
    height: 256px;
    background-color: #EEFCB6;
}

header span, .donate_items span {
    display: inline-block;
    width: 48px;
height: 5px;
background-color: #747E48;
}

h2 {
    font-size: 28px;
    font-weight: bold;
    color: #747E48;
}

header p,
.donate_items p{
    font-size: 19px;  
    color: #747E48;
}

header .btn{
    width: 190px;
    height: 45px;
    font-size: 20px;
    color: #747E48;
    border: 1px solid #747E48;
box-sizing: border-box;
border-radius: 15px;
transition: 300ms;
}

header .btn:hover {
background-color: #CCE85C;
color: #747E48;
}

.donate_items .img {
    width: 100%;
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
}
.donate_items .item:first-of-type .img{
    background-image: url('lib/img/dogcrate.jpg');   
    background-position: center;
} 

.donate_items .item:nth-of-type(2) .img{
    background-image: url('lib/img/dogvet.jpg');   
    background-position: center;
} 
.donate_items .item:nth-of-type(3) .img{
    background-image: url('lib/img/dogvet2.jpg');   
    background-position: center;
} 
.donate_items .item:nth-of-type(4) .img{
    background-image: url('lib/img/dogcone.jpg');   
    background-position: center;
} 


