article{
    height: 350px;   
}

 article h2 {
    color: #c2c2c2;
    font-size: 28px;
}

article p{
    color: #828282;
    font-size: 19px;
}

.article_pic {  
  height: 350px;
  background-image: url('lib/img/shelterdog1.jpg');
  background-position: center;
  background-size: cover;
}

.collage {
    height: 350px;
}

.collage .collage_pic div{
    height: 175px;
    border: 5px solid white;
    box-sizing: border-box;
}

.collage .collage_pic:first-of-type > div:first-of-type {
        background-image: url('lib/img/shelterdog2.jpg');
        background-size: cover;
        background-position: center;
}

.collage .collage_pic:first-of-type > div:nth-of-type(2){
    background-image: url('lib/img/shelterdog3.jpg');
    background-size: cover;
    background-position: center;
}

.collage .collage_pic:last-of-type > div:first-of-type{
    background-image: url('lib/img/shelterdog4.jpg');
    background-size: cover;
    background-position: center;
}
.collage .collage_pic:last-of-type > div:last-of-type{
    background-image: url('lib/img/shelterdog5.jpg');
    background-size: cover;
    background-position: center;
}

.vol_view {
 background-color: #CCE85C;
 height: 445px;
}

.vol_view .vol_item {   
    height: 308px;   
    color: #747E48;     
}

.vol_item h3{
    font-size: 28px;
}

.vol_item p {
    font-size: 19px;
}

.vol_item:first-of-type .vol_img {   
    height: 180px;
    background-image: url('lib/img/dogwalk1.jpg');
    background-size: 110%;
    background-position: -30px -260px;
}
.vol_item:nth-of-type(2) .vol_img {   
    height: 180px;
    background-image: url('lib/img/dogwalk2.jpg');
    background-size: cover;
    background-position:center;
}
.vol_item:nth-of-type(3) .vol_img {   
    height: 180px;
    background-image: url('lib/img/dogwalk3.jpg');
    background-size: cover;
    background-position:center;
}
