h1 {
    font-size: 28px;
    color: #828282;
    font-weight: bold;
}

.profile_info{
    background-color: rgba(238, 252, 182, 0.7);;
    color: #747E48;
}

.profile_img {
    width: 587px;
    height: 340px;
    background-image: url('lib/fotos_de_ypap/cujo1.jpg');
    background-size: cover;
    background-position: 0px -150px;
    background-repeat: no-repeat;
}

.details {
    text-align: center;
    font-size: 19px;
    color: #000000;
    background-color: #CCE85C;
}

.carousel-item {
    width: 100%;
    height: 500px;
    background-image: url('lib/fotos_de_ypap/cujo2.jpg');
    background-size: 100%;
    background-position: 0px -450px;
    background-repeat: no-repeat;
}
.carousel-item:nth-of-type(2) {    
    background-image: url('lib/fotos_de_ypap/cujo3.jpg');
    background-size: 100%;
    background-position: 0px -550px;
    background-repeat: no-repeat;
}

.adopt_apply{
    width: 384px;
background: #CCE85C;
border-radius: 15px;
font-size: 28px;
transition: 300ms;
}

.adopt_apply:hover{
    background:#EEFCB6;
    border: 1px solid #747E48;
    box-sizing: border-box;
}

